*{
	margin: 0;
	padding: 0;
	
}

.main-title{
  text-align: center;
  color: #419cd1;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 35px;
}

.content-box{
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	padding: 20px 25px;
}

.item-name{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: crimson;
	font-weight: 700;
}
